<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Main page</title>
   </head>
   <body>
      <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

      <h1>Upload CSV</h1>
      <p>Please upload your csv file from scopus and click 'submit'<p>
      <form action="/upload" method="POST" enctype="multipart/form-data">
         <input type="file" name="file">
         <p><input class="btn_upload" type="submit" value="Submit">
      </form>

      <script>
      $(document).ready(
       function(){
           $('input:submit').attr('disabled',true);
           $('input:file').change(
               function(){
                   if ($(this).val()){
                       $('input:submit').removeAttr('disabled');
                   } else {
                       $('input:submit').attr('disabled',true);
                   }
               });
       });
      </script>

   </body>
</html>